<mat-toolbar color="primary">
    <button mat-button>
        <span class="material-icons">
            local_grocery_store
        </span>
        Groceries Tracker
    </button>
    <button mat-button>Add Groceries</button>
    <button mat-button>Dashboard</button>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">
            help_outline
        </mat-icon>
    </button>
    <button mat-icon-button>
        <span class="material-icons">
            account_circle
        </span>
</button>
</mat-toolbar>

